*{
  margin:0;
  padding:0;
}
a{
  text-decoration:none;
}
ul{
  list-style-type: none;
}
a:hover{
color:#ff0000;
text-decoration:underline;
}
/*entirety*/
.entirety{
  width: 1003px;
  margin: 0 auto;
}
/*回到首页*/
#goToIndex { bottom: 30px;padding-top: 20px; }
#goToIndex a {
 border: 1px solid #CCCCCC;
 background-color:#ff0000 ;
 color: white;
 font-size: 16px;
 padding: 5px;
 text-decoration: none; }
/*回到头部*/
#goToTop { position: fixed; bottom: 10px; right: 10%;z-index: 9999; }
#goToTop a {
 border: 1px solid #CCCCCC;
 background-color:#ff0000 ;
 color: white;
 font-size: 16px;
 padding: 5px;
 text-decoration: none; }
 /*顶部*/
.top{
  width: 1003px;
  height: 100px;
  background-color: darkred;
}
.top h1{
  font-size: 60px;
  text-align: center;
  padding-top: 10px;
}
.line{
  margin-top: 10px;
  height: 20px;
  border-top: 10px solid #ff0000;
  text-align: center;}
.PC{
  float: left;
margin-left: 80px;}
.PC li{
font-size: 30px;
padding-top: 20px;
}

.PC2{
  float: right;}
.PC2 li{
font-size: 30px;
padding-top: 20px;
}

.line2{
  margin-top: 400px;
  height: 20px;
  border-top: 10px solid #ff0000;
  text-align: center;}
/*党章的重要性*/
 .imgs img{
width: 300px;
height: 400px;
margin-left: 80px;
margin-top: 30px;  }
.party2{
   margin-top:-430px ;
    margin-left: 490px;
}
 .party2 li{
   font-size: 30px;
   padding-top: 50px;
  }

  .line3{
  margin-top: 70px;
  height: 20px;
  border-top: 10px solid #ff0000;
  text-align: center;}

/*  历届*/
.title{
  font-size: 35px;
  text-align: center;
}
.lici li{
  font-size: 30px;
  margin-left:30px;
  margin-top: 20px;
}
.lici2{
  margin-top: -240px;
}
.lici2 li{
  font-size: 30px;
  margin-left:560px;
  margin-top: 20px;
  list-style-type: none;
}
/* 底部 */
.footer {
  margin-top: 40px;
  background-color: #f1f1f1;
  text-align: center;
  font-size: 20px;
  height: 120px;
}
.imgs1{
  width: 46px;
  height: 46px;
}
.imgs1 img{
  width: 120px;
  height: 120px;
  margin-left: 180px;
}
.x1{

}
.footer li{
  list-style-type: none;
  display: inline;

}
.footer li span{
  padding-left: 20px;
}
